<div class="flex-container randomMovie" id="container-random-movie" fxLayout="column">

  <div *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!isLoading" class="flex-container" fxLayout="column" fxLayoutGap="10px">
    <mat-card>
      <p><strong>Plot</strong></p>
      <p id="plot">{{ this.plot}}</p>
    </mat-card>

    <mat-card>
      <p><strong>Actors</strong></p>
      <p *ngFor="let actor of listActor" id="actors" >{{ actor }}</p>
    </mat-card>
  </div>

</div>
