<div class="wrapper">

  <div style="height: 100vh;">
    <mat-toolbar color="primary">

      <div fxShow="true" fxHide.gt-sm="true">
        <a href="#" (click)="sidenav.toggle()" mat-button><mat-icon>menu</mat-icon></a>
      </div>

      <span>OMDB Game</span>

      <span class="example-spacer"></span>

      <div fxShow="true" fxHide.lt-md="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a href="#" mat-button (click)="randomMovieComponent.getRandomMovie()">
          <mat-icon>refresh</mat-icon>
          <span>Replay</span>
        </a>
        <a href="#" mat-button>Menu Item 2</a>
      </div>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill class="example-container">
      <mat-sidenav #sidenav fxLayout="column">
        <div fxLayout="column">
          <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
          <a href="#" mat-button (click)="randomMovieComponent.getRandomMovie()">
            <mat-icon>refresh</mat-icon>
            <span>Replay</span>
          </a>
          <a href="#" mat-button>Menu Item 2</a>
        </div>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>

        <div class="flex-container home-content" fxLayout="column" fxLayoutGap="20px">

          <div class="child-1">
            <app-random-movie #randomMovieComponent (movieId)="addRandomId($event)"></app-random-movie>
          </div>

          <div class="child-2">
            <app-search (movieId)="addSearchedId($event)" minLengthTerm=2></app-search>
          </div>

          <button mat-button id="addToHomeScreen" [hidden]="hiddenAddToHomeScreen" (click)="addToHomeScreen()">Add to home screen</button>
        </div>

      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>



</div>
